/* ===== HTML5 Boilerplate styles =========================================== */
html,button {color:#bbb;}
input,select,textarea {color:#222;}
body {font-size:1em; line-height:1.4;}
::-moz-selection {background:#b3d4fc; text-shadow:none;}
::selection {background:#b3d4fc; text-shadow:none;}
hr {display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0;}
img {vertical-align:middle;}
fieldset {border:0; margin:0; padding:0;}
textarea {resize:vertical;}
.chromeframe {margin:0.2em 0; background:#ccc; color:#000; padding:0.2em 0;}
/* ===== Initializr Styles ================================================ */
body {font:16px/26px Helvetica, Helvetica Neue, Arial;}
.wrapper {width:90%; margin:0 5%;}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#search-bar {
	background:#333;
	border:1px solid #999;
	clear:both;
}
#search-bar h1 {color:#fff; float:left;}
#search-bar input {float:left; margin-right:10px;}
#accordion {clear:both;}
.stripeMe tr.alt td {background:#262626; color:#fff;}
.stripeMe tr.over td {background:#444; color:#fff;}
.stripeMe tr td {background:#000; border:1px solid #666; padding:5px; vertical-align:top;}
#tblEdit th, #tblList th {background:#f58400 url(ui-darkness/images/ui-bg_inset-soft_30_f58400_1x100.png) 50% 50% repeat-x; border:1px solid #ffaf0f; color:#fff; text-shadow:2px 2px #333; padding:3px; text-align:left; vertical-align:top;}
#tblEdit td {background:#000 url(ui-darkness/images/ui-bg_inset-soft_25_000000_1x100.png) 50% bottom repeat-x; border:1px solid #666; color:#fff; padding:5px; vertical-align:top;}
#tblEdit .button {background:#555 url(ui-darkness/images/ui-bg_glass_20_555555_1x400.png) 50% 50% repeat-x; border:1px solid #666; color:#fff; font-weight:bold; margin-right:20px; padding:5px;}
#tblEdit .button:hover {background:#0078a3 url(ui-darkness/images/ui-bg_glass_40_0078a3_1x400.png) 50% 50% repeat-x; border:1px solid #59b4d4;}
#tblEdit textarea {width:75%;}
#tblList td {font-size:90%;}
#tblList td a {color:#74d7fa;}
#tblList td a:hover {color:#fff;}
#tblList .center {text-align:center;}
#tblList .publish {vertical-align:middle;}
#tblList .quote {font-style:italic;}
#tblEllis .context, #tblTully .context, #tblRawdog .context, #tblPendarvis .context, #tblKraft .context {font-size:80%; color:#ccc;}
/* Helper classes */
.ir {background-color:transparent; border:0; overflow:hidden; *text-indent:-9999px;}
.ir:before {content:""; display:block; width:0; height:150%;}
.hidden {display:none !important; visibility:hidden;}
.visuallyhidden {border:0; clip:rect(0 0 0 0); height:1px; margin:-1px; overflow:hidden; padding:0; position:absolute; width:1px;}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {clip:auto; height:auto; margin:0; overflow:visible; position:static; width:auto;}
.invisible {visibility:hidden;}
.clearfix:before,.clearfix:after {content:" "; display:table;}
.clearfix:after {clear:both;}
.clearfix {*zoom:1;}
/* Print styles */
@media print {
	* {background:transparent !important; color:#000 !important; box-shadow:none !important; text-shadow:none !important;}
	a,a:visited {text-decoration:underline;}
	a[href]:after {content:" (" attr(href) ")";}
	abbr[title]:after {content:" (" attr(title) ")";}
	/* nDon't show links for images, or javascript/internal links */
	.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after {content:"";}
	pre,blockquote {border:1px solid #999; page-break-inside:avoid;}
	thead {display:table-header-group;}
	tr,img {page-break-inside:avoid;}
	img {max-width:100% !important;}
	@page {margin:0.5cm;}
	p,h2,h3 {orphans:3; widows:3;}
	h2,h3 {page-break-after:avoid;}
}